<%provide(:title, "About") %>

  <h1>About This Project</h1>
  <p>This project is maintained by Work Life Chaos Team.  
    Embark on a coding journey with us as we collaboratively build a 
    team holiday recipe book application. From user sign-ups to admin 
    features, we'll navigate the coding  together, ensuring security, 
    performance, and a delightful recipe-sharing experience. Join us 
    on this coding adventure, where your skills contribute to crafting
     a culinary masterpiece for the upcoming festive season!  </p>
