<div class="center jumbrotrom">


  <h1>Welcome to the Recipe Book Project </h1>
  <h2>Welcome to our Team Cookbook! This culinary hub is a fantastic way 
    to unite our members and savor the diverse flavors of our team. We invite 
    each of you to contribute 1-2 cherished recipes to our Team Cookbook. 
    Let's cook up a delicious tapestry that reflects the unique tastes and 
    backgrounds that make our team extraordinary. Happy cooking and happy sharing! </h2>
  <%= link_to 'Sign Up Now!', signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("WLC_logo_sm.jpg", alt: "Rails logo", width: "200"),
                      "https://worklifechaos.come/" %>
