<div class="center jumbrotrom">


  <h1>Welcome to the Sample App </h1>
  <h2>This is the home page for the Ruby on Rails Tutorial sample application</h2>
  <%= link_to 'Sign Up Now!', signup_path, class: "btn btn-lg btn-primary" %>
  <p>This Will be the sign up button</p>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
                      "https://rubyonrails.org/" %>
