<% provide(:title, 'All Users') %>
<h1>All users</h1>

<%= will_paginate %>

<table id="user_table">
    <tr>
      <th>Gravitar</th>
      <th>Name</th>
      
      <th>Updated On</th>
      <th>Recipes</th>
      <% if current_user.admin? %>
        <th>Delete</th>
      <% end %>
    </tr>

  <tbody>
  <%= render @users %>
  </tbody>
</table>
<%= will_paginate %>